separator_block_width=14

[kernel]
command=echo : jabberwocky $(/usr/bin/uname -or)
interval=once
color=#1793d1

[cpu]
label=Cpu:
command=/usr/lib/i3blocks/cpu_usage
interval=10
color=#FF00BF

[temp]
label=
command=echo "$(sensors coretemp-isa-0000 | awk '/Physical/ {print $4}')"
interval=10
color=#b58900

[email]
label=
command=echo TO-DO
color=#cb4b16
interval=once
signal=10

[disk-root]
label=:
command=df -h -P -l "${BLOCK_INSTANCE:-/}" | awk '/\// { print $4 }'
instance=/
interval=30
color=#D7DF01

[disk-home]
label=:
command=/usr/lib/i3blocks/disk $HOME
interval=30
color=#859900

[dhcp]
command=if pgrep dhcpcd >/dev/null 2>&1; then echo "DHCP: yes"; echo "DHCP: yes"; echo "#00ff00"; else echo "DHCP: no"; echo "DHCP: no"; "#ff0000"; fi
interval=10

[vpn]
command=if ps aux | grep -f /var/run/openconnect.pid; then echo "<span color='#00ff00'> VPN: yes</span>"; else echo "<span color='#ff0000'> VPN: no</span>"; fi
markup=pango
interval=10

[ethernet]
label=E
instance=enp3s0
command=echo " $(/usr/lib/i3blocks/down)  $(/usr/lib/i3blocks/up)"
color=#00FF00
interval=10

[load]
label= 
command=awk '{print $1,$2,$3}' /proc/loadavg
interval=10
color=#6c71c4

[volume]
label=:
command=/usr/bin/pulseaudio-ctl current
interval=repeat
color=#d70a53

[time]
label=
command=date '+%a %d-%m-%y %H:%M:%S'
interval=5
color=#50C878
