separator_block_width=14

[kernel]
command=echo : jabberwocky $(/usr/bin/uname -or)
interval=once
color=#1793d1

[cpu]
label=Cpu:
command=/usr/lib/i3blocks/cpu_usage
interval=10

[temp]
label=
command=echo "$(sensors coretemp-isa-0000 | awk '/Physical/ {print $4}')"
interval=10
color=#b58900

#[memory]
#label=Mem:
#command=/usr/lib/i3blocks/memory
#separator=false
#interval=30

#[swap]
#label=Swap:
#command=/usr/lib/i3blocks/memory swap
#interval=30

#[Weather]
#command=~/.i3/IconicWeather.sh "10001"
#interval=1800
#color=#e97ac8

#[mail]
#label= 
#command=~/.i3/.mail.sh.x
#interval=100
#color=#7F00FF 

[disk-root]
label=:
command=df -h -P -l "${BLOCK_INSTANCE:-/}" | awk '/\// { print $4 }'
instance=/
interval=30
color=#855211


[disk-home]
label=:
command=/usr/lib/i3blocks/disk $HOME
interval=30
color=#859900

#[ssid]
#label=
#command=echo "$(iw dev wlo1 link | grep SSID | cut -d " " -f 2-)"
#color=#d33682
#interval=5

#[wireless]
##label=:
#instance=wlo1
#command=/usr/lib/i3blocks/iface
#color=#00FF00
#interval=10

[dhcp]
command=if pgrep dhcpcd >/dev/null 2>&1; then echo "DHCP: yes"; echo "DHCP: yes"; echo "#00ff00"; else echo "DHCP: no"; echo "DHCP: no"; "#ff0000"; fi
interval=10

[vpn]
command=if ps aux | grep -f /var/run/openconnect.pid; then echo "<span color='#00ff00'> VPN: yes</span>"; else echo "<span color='#ff0000'> VPN: no</span>"; fi
markup=pango
interval=10

[ethernet]
label=E
instance=enp3s0
command=echo " $(/usr/lib/i3blocks/down)  $(/usr/lib/i3blocks/up)"
color=#00FF00
interval=10

#[strength]
#command=echo "$(iw dev wlo1 link | grep signal | cut -d " " -f 2-)"
#interval=10
#color=#cb4b16

#[battery]
##label=BAT
##label=⚡
##command=/usr/lib/i3blocks/battery BAT0
#command=~/.i3/battery BAT0
#
#interval=30

[load]
label= 
command=awk '{print $1,$2,$3}' /proc/loadavg
interval=10
color=#6c71c4


[volume]
label=
#command=/usr/lib/i3blocks/volume
command=~/.i3/volume-usb
interval=2
signal=10
color=#d70a53


[time]
#command-date " %a %m-%d-%y %l:%M:%S %p"
label=
command=date '+%a %d-%m-%y %H:%M:%S'
interval=5
color=#50C878


